<div class="user-details">
  <h1> About </h1>
  <div class="images-center">
    <img alt="Dennis Alp" src="{{ "/assets/img/alp_low_res.png" | prepend: site.baseurl }}" width="300" height="300" />
  </div>
  <p>
    {{site.user_description}}
  </p>
  <p>
    I thrive when solving complex problems that challenge me to find innovative solutions. I am a curious person who enjoys pushing beyond my comfort zone and has a keen interest in many different domains, with a focus on data, AI, physics, engineering, and finance.
  </p>
  <p>
    The ideal environment for me is a small, focused team, executing at a fast pace, preferably refining iteratively while delivering quickly. I am very product-focused, always keeping the bigger picture in mind, and aim to work as efficiently as possible.
  </p>
</div>
