<div class="user-details">
  <h1> About </h1>
<div class="images-center">
  <img alt="Dennis Alp" src="{{ "/assets/img/alp_low_res.png" | prepend: site.baseurl }}" width="300" height="300" />
</div>
<p> {{site.user_description}} </p>
</div>
<div class="user">
<div class="tech">
  <h2>Design</h2>
  <i class="devicon-python-plain-wordmark colored"></i>
  <i class="devicon-pandas-original-wordmark colored"></i>
  <i class="devicon-numpy-original-wordmark colored"></i>
<p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.Vinyl XOXO lumbersexual</p>
</div>
<div class="tech">
  <h2>Code</h2>
  <i class="devicon-microsoftsqlserver-plain-wordmark colored"></i>
  <i class="devicon-jira-plain-wordmark colored"></i>
  <i class="devicon-inkscape-plain-wordmark colored"></i>
  <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse. Vinyl XOXO lumbersexual</p>
</div>
<div class="tech">
  <h2>Tools</h2>
  <i class="devicon-bash-plain colored"></i>
  <i class="devicon-latex-original colored"></i>
  <i class="devicon-tensorflow-original-wordmark colored"></i>
  <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse. Vinyl XOXO lumbersexual</p>
</div>
</div>
