 <div class="user-details">
  <h1> About me </h1>

  <div class="images-center">
    <img alt="Dennis Alp" src="{{ "/assets/img/alp_low_res.jpg" | prepend: site.baseurl }}" />
  </div>

  <p> I'm a data scientist at <b>Handelsbanken</b> in Stockholm, Sweden. I'm originally from Stockholm and have a degree in engineering physics and a PhD in astrophysics, both from <b>KTH Royal Institute of Technology</b>.</p>

  <p>If you want to find out more, you can send me an email, take a look at my public code projects or download my CV using the icons above.</p>

 </div>
 
<!--  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Content</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Content</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Content</p>
    </div>
</div> -->
