<div class="user-details">
  <h1> Astrophysics </h1>
  <div class="images-center" >
    <img alt="An X-Ray View of Core-Collapse Supernovae" src="{{ "/assets/img/b15.png" | prepend: site.baseurl }}" width="300" height="300" />
  </div>
  
  <p>
  I have studied exploding stars using X-rays, basically a scaled-up version of your typical dental X-ray. You can read more about this in my PhD thesis: <a href="http://urn.kb.se/resolve?urn=urn:nbn:se:kth:diva-294188", style="color:#79bbcd">An X-Ray View of Core-Collapse Supernovae</a>.
  </p>

</div>
