<div class="user-details">
  <h1> About </h1>

  <div class="images-center">
    <img alt="Dennis Alp" src="{{ "/assets/img/alp_low_res.png" | prepend: site.baseurl }}" width="300" height="300" />
  </div>

  <p> I'm a data scientist at <b>Handelsbanken</b> in Stockholm, Sweden. I'm originally from Stockholm and have a degree in engineering physics and a PhD in astrophysics, both from <b>KTH Royal Institute of Technology</b>.</p>

  <p>If you want to find out more, you can send me an email, take a look at my public code projects or download my CV using the icons above.</p>

  </div>
  