<div class="user-details">
  <h1> PhD Thesis </h1>
  <div class="images-center">
    <img alt="An X-Ray View of Core-Collapse Supernovae" src="{{ "/assets/img/cover_image.png" | prepend: site.baseurl }}" />
  </div>
  
  <p>
    My PhD thesis, <a href="http://urn.kb.se/resolve?urn=urn:nbn:se:kth:diva-294188", style="color:#E4646C">An X-Ray View of Core-Collapse Supernovae</a>, is now publicly available. I studied exploding stars in X-rays, basically a scaled-up version of your typical dental X-ray.
  </p>

</div>
