<div class="user-details">
  <h1> Projects </h1>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> RNN Text Generator </h3>
    <ul>
      <li> Python </li>
      <li> Machine learning/RNNs </li>
      <li> TensorFlow </li>
    </ul>
    <p>
    Character-based RNN for generating text. This approximately 0.80 and 0.9keV are also expected in agreement within light curves are characterized by a positive ions, which are insufcient mixing of the central region can be constrained by the light curves. A realistic guess would be a weak detection of the electrons per up to the Galactic IHMAR is constitute the direct-detection threshold is crossed such that the compact object escapes the eective area.
    </p>
    <a class="project-link" href="https://github.com/dennisalp/rnn-text-generator">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="bot_famous" src="{{ "/assets/img/bot_famous.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> DotA 2 Bot </h3>
    <p>
    Back in 2013, I wrote a bot in Java for the video game DotA. The bot even attracted attention on Reddit. It successfully played hundreds of games, which were also streamed on Twitch. This was before the DotA 2 API was provided. Designing the bot to interact as a human to circumvent any scripting filters added additional complexity to the problem.
    </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
    