<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
<div class="images-right">
  <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
</div>
<div class="contents">
  <h3> RNN Text Generator </h3>
  <ul>
    <li> Python </li>
    <li> Machine learning/RNNs </li>
    <li> TensorFlow </li>
  </ul>
  <p>
  Hello Worldongernanis/P. Remarks, this paper is the 0.310 keV range computed using the Jakio Anamynops of just and only 18;0days after all at eleckion models, questions, sometimes simplify the photocks are called cosmic-laye (but errows for a neutron star because this activity (after core sources if thermal emission from an NS for dierent asymmetries on the early emission is a decrease in temperature peak surface with the ISM absorption. 
  </p>
  <a class="project-link" href="https://github.com/dennisalp/rnn-text-generator">Check it out</a>
</div>
</div>
<div class="user-projects">
<div class="images-left">
  <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
</div>
<div class="contents-right">
  <h3> Project Title </h3>
  <ul>
    <li> Featured Skills</li>
  </ul>
  <p>
  Hello Worldand XMM-Newton when free patested ionization age (Eitonara 1937). This approximately 0.80 and 0.9keV are also expected in agreement within light curves are characterized by a positive ions, which are insufcient mixing of the central region can be constrained by the light curves. A realistic guess would be a weak detection of the electrons per up to the Galactic IHMAR is constitute the direct-detection threshold is crossed such that the compact object escapes the eective area.
  </p>
  <a class="project-link" href="#">Check it out</a>
</div>
</div>
