<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

<div class="user-details">
  <h1> Technical Skills </h1>
</div>

<div class="user">
  <div class="tech">
    <h3>Data Science</h3>
    <i class="devicon-python-plain-wordmark colored" style="font-size: 65px;"></i>
    <i class="devicon-microsoftsqlserver-plain-wordmark colored" style="font-size: 65px;"></i>
    <i class="devicon-git-plain-wordmark colored" style="font-size: 65px;"></i>
    <p>Used Python as my primary language and worked with data daily since 2015. Extensive experience with many common data science tools.</p>
  </div>
  <div class="tech">
    <h3>Platforms</h3>
    <i class="devicon-bash-plain colored" style="font-size: 65px;"></i>
    <i class="devicon-ubuntu-plain-wordmark colored" style="font-size: 65px;"></i>
    <i class="devicon-azure-plain colored" style="font-size: 62px;"></i>
    <p>Over 10 years of CLI experience in UNIX environments. Currently learning Azure, focusing on AI and machine learning use cases.</p>
  </div>
  <div class="tech">
    <h3>Python Packages</h3>
    <i class="devicon-pandas-original-wordmark colored" style="font-size: 65px;"></i>
    <i class="devicon-numpy-original colored" style="font-size: 62px;"></i>
    <i class="devicon-tensorflow-original colored" style="font-size: 58px;"></i>
    <p>Expert in numerous data science Python packages covering data preparation, ETL, visualization, analysis, AI, and ML.</p>
  </div>
</div>
