<div class="user-details">

  <h1> Trading </h1>

  <p>

    I am a systematic day trader focusing on the Nordic markets. I
    primarily trade equities and some indices, including derivatives
    thereof. My trading strategies all leverage my skills within data,
    advanced analytics, AI, and statistics, in conjunction with the
    ability to script, automate, and deploy strategies using simple
    tools. Most strategies are containerized solutions, which are
    scheduled using <tt>cron</tt>.
  
  </p>

  <p>

    My intention is to keep this as a side project and spend no more
    than two hours per day on it. The market is a very intriguing
    arena and I enjoy the challenges it offers. In my mind, it is very
    similar to poker, chess, and strategic board games. However, I
    have many more interests and, therefore, do not want to trade full
    time.

  </p>

</div>
